<!DOCTYPE html>
<html>
<head>
  <title>Video Capture Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/tabs.css">
  <link rel="stylesheet" href="css/messages.css">
  <link rel="stylesheet" href="css/messages-ie.css">
  <!--[if IE]>
  <link rel="stylesheet" href="css/tabs-ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="css/table.css">
  <!--[if IE]>
  <link rel="stylesheet" href="css/table-ie.css" />
  <![endif]-->
  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="js/vue-2.6.8.js"></script>
  <script src="js/media-stream-recorder.js"></script>
  <script src="js/vue-resource-1.5.1.js"></script>
  <script src="js/main-vue-components.js"></script>  
  <style>
      .TabPanel .Body h1 {
          margin-bottom: 0px;
      }
  </style>
</head>
<body>
  <div id="main-panel" style="margin: 1em auto">
    <main-tab bordered="bordered" style="margin: 0 auto; padding-top: 1em" :style="{width: formWidth+'px', height: formHeight+'px'}">
        <main-tab-item title="Видео">
            <h1>Захват видео</h1>
            <main-form ref='main-form' class="Flat">
                <div v-if="isVideoSaveNow">
                    <main-row >
                        <main-col>
                            <main-form-field>
                                <main-form-checkbox v-model="isCaptureAutoRun">Автоматически влючать если есть свет?</main-form-checkbox>
                            </main-form-field>    
                        </main-col>
                        <main-col>
                            <main-form-field>
                                <main-form-checkbox v-model="isCaptureSave">Сохранять на диск если есть движение?</main-form-checkbox>
                            </main-form-field>
                        </main-col>
                   </main-row>
                    <main-form-field>
                        <div id="container"></div>
                    </main-form-field>                    
                    <div v-if="isVideoCaptureSaveComplete" class="Message Good">
                        <div class="Text">{{videoCaptureBlockInfo}}</div>
                    </div>                    
                </div>
                <div v-else>
                    <main-form-field ref='video-device-selector'>
                        <main-form-label>Выберите камеру</main-form-label>
                        <main-form-select @select='onSelectVideoCamera' :list='videoCameraList'></main-form-select>
                    </main-form-field>
                    <main-form-field ref="video-size-selector" >
                        <main-form-label>Выберите размер</main-form-label>
                        <main-form-select @select="onSelectVideoSize" :list='videoSizeList'></main-form-select>
                    </main-form-field>
                    <main-form-field ref="video-save-interval-selector">
                        <main-form-label>Интервал записи (сек)</main-form-label>
                        <main-form-select @select="onSelectVideoInterval" :list='videoSaveIntervalList'></main-form-select>
                    </main-form-field>
                    <main-row>
                        <main-col>
                            <main-form-field>
                                <main-form-label>Порог освещения, вкл </main-form-label>
                                <main-form-input v-model="threshold.forCameraStart"></main-form-input>                        
                            </main-form-field>
                        </main-col>
                        <main-col>
                            <main-form-field>
                                <main-form-label>Порог освещения, выкл </main-form-label>
                                <main-form-input v-model="threshold.forCameraStop"></main-form-input>                        
                            </main-form-field>
                        </main-col>
                    </main-row>    
                    <main-row style='padding: 1em 0'>
                        <main-col>
                            <main-form-field>
                                <main-form-checkbox v-model="isCaptureAutoRun">Автоматически влючать если есть свет?</main-form-checkbox>
                            </main-form-field>    
                        </main-col>
                        <main-col>
                            <main-form-field>
                                <main-form-checkbox v-model="isCaptureSave">Сохранять на диск если есть движение?</main-form-checkbox>
                            </main-form-field>
                        </main-col>                        
                   </main-row>
                </div>
                <main-button-group>
                    <main-button ref="start-stop-rec-btn" selected="selected" :click="onClickStartStopBtn">{{toggleBtnText}}</main-button>                    
                </main-button-group>                
            </main-form>
        </main-tab-item>   
        <main-tab-item title="Просмотр">
            <h1>Просмотр видео</h1>
            <main-form ref="video-control-form" class="Flat" style="margin-bottom: 2em">
                <main-form-field>
                    <main-form-label>День</main-form-label>
                    <main-form-select @select="onSelectVideoCaptureDay" name="videoCaptureDay" :list="videoCaptureDayList"></main-form-select>
                </main-form-field>
            </main-form>
            <main-button-group>
                <main-button selected="selected" :click="onClickLoadCaptureListBtn">Загрузить</main-button>                    
            </main-button-group>            
            <main-table v-if="isVideoCaptureListLoaded" style="margin-top: 1em" :columns="videoCaptureRecordTblCols" :data="videoCaptureRecordTblData"></main-table>
        </main-tab-item>    
        <main-tab-item title="Среда">               
            <h1>Значение среды</h1>
            <main-form class="Flat">
                <main-form-field>
                    <main-form-label>Температура, С</main-form-label>
                    <main-form-input readonly="readonly" v-model="metering.temp"></main-form-input>
                </main-form-field>            
                <main-form-field>
                    <main-form-label>Влажность, %С</main-form-label>
                    <main-form-input readonly="readonly" v-model="metering.humidity"></main-form-input>
                </main-form-field>                        
                <main-form-field>
                    <main-form-label>Освещенность, Люкс</main-form-label>
                    <main-form-input readonly="readonly" v-model="metering.lighting"></main-form-input>
                </main-form-field>                
            </main-form>
        </main-tab-item>       
    </main-tab>
  </div>
  <script src="js/video-capture.js"></script>
</body>
</html>
